n8n-workflows/archived/1-interest-form-handler.json
{
  "name": "Ignite Interest Form Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "interest-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "interest-form"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1kPYgthwKzREJYKjAnE4h1YFMRxg5ulynrbDYNRxb8Lo",
        "sheetName": "Leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date().toISOString() }}",
            "User Type": "={{ $json.userType }}",
            "First Name": "={{ $json.firstName }}",
            "Last Name": "={{ $json.lastName }}",
            "Email": "={{ $json.email }}",
            "Specialty": "={{ $json.specialty }}",
            "Practice Model": "={{ $json.practiceModel }}",
            "EMR System": "={{ $json.emrSystem }}",
            "LinkedIn": "={{ $json.linkedin }}",
            "Involvement": "={{ $json.involvement }}",
            "Challenge": "={{ $json.challenge }}",
            "Co-Founder Interest": "={{ $json.cofounder }}"
          }
        }
      },
      "id": "google_sheets",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.userType }}",
              "rightValue": "physician",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.userType }}",
              "rightValue": "investor",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.userType }}",
              "rightValue": "specialist",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "switch",
      "name": "Route by User Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "list": "9884a65adf",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "merge": true,
          "emailType": "html",
          "status": "subscribed",
          "mergeFields": {
            "FNAME": "={{ $json.firstName }}",
            "LNAME": "={{ $json.lastName }}"
          },
          "tags": ["={{ $json.involvement === 'innovation-council' ? 'innovation-council' : 'waitlist' }}", "physician"]
        }
      },
      "id": "mailchimp_physician",
      "name": "Add Physician to Mailchimp",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 2,
      "position": [850, 200],
      "credentials": {
        "mailchimpApi": {
          "id": "YOUR_MAILCHIMP_CREDENTIAL_ID",
          "name": "Mailchimp"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5407628621",
        "text": "🚨 New {{ $json.userType === 'investor' ? 'Investor' : 'AI/ML Specialist' }} Lead!\n\nName: {{ $json.firstName }} {{ $json.lastName }}\nEmail: {{ $json.email }}\nLinkedIn: {{ $json.linkedin }}\n{{ $json.cofounder ? '✅ Interested in co-founder role' : '' }}",
        "additionalFields": {}
      },
      "id": "telegram_notification",
      "name": "Notify Dr. Murji",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [850, 400],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "IgniteSiteBot"
        }
      }
    },
    {
      "parameters": {
        "options": {},
        "responseBody": "{\"success\": true, \"message\": \"Thank you for joining the Ignite Health Systems movement!\"}"
      },
      "id": "webhook_response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Log to Google Sheets", "type": "main", "index": 0}]]
    },
    "Log to Google Sheets": {
      "main": [[{"node": "Route by User Type", "type": "main", "index": 0}]]
    },
    "Route by User Type": {
      "main": [
        [{"node": "Add Physician to Mailchimp", "type": "main", "index": 0}],
        [{"node": "Notify Dr. Murji", "type": "main", "index": 0}],
        [{"node": "Notify Dr. Murji", "type": "main", "index": 0}]
      ]
    },
    "Add Physician to Mailchimp": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    },
    "Notify Dr. Murji": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    }
  }
}