n8n-workflows/archived/2-monthly-content-pipeline.json
{
  "name": "Monthly Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 9 1 * *"}]
        }
      },
      "id": "cron_trigger",
      "name": "Monthly Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key=AIzaSyCf55l7otROJ6YbFurgxMEOi5b3HpZQ6oU",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "{\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Research the latest healthcare AI developments from the past 30 days. Focus on: 1) Breakthrough AI technologies in healthcare, 2) Clinical AI implementations, 3) FDA approvals, 4) Major funding rounds. Analyze through the lens of: Extractive vs Regenerative (does it empower physicians or replace them?), Enhancement vs Replacement (cognitive extension or automation?), Net-Positive Outcomes (reducing harm and burnout). Provide a comprehensive summary.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.3,\n    \"maxOutputTokens\": 2048\n  }\n}"
      },
      "id": "gemini_research",
      "name": "Gemini Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key=AIzaSyCf55l7otROJ6YbFurgxMEOi5b3HpZQ6oU",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "jsonBody": "{\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Based on this research: {{ $json.candidates[0].content.parts[0].text }}\\n\\nWrite a 750-word article for Ignite Health Systems' newsletter. Requirements:\\n- Address moving from document-centric past to AI-native future\\n- Use terminology: 'Platform Fragmentation Crisis', 'unified clinical co-pilot'\\n- Contrast extractive vs regenerative AI approaches\\n- Write in Dr. Murji's voice: authoritative, mission-driven, empathetic\\n- Include specific examples from the research\\n- End with call to action for joining the Innovation Council\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.4,\n    \"maxOutputTokens\": 2048\n  }\n}"
      },
      "id": "gemini_draft",
      "name": "Generate Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1kPYgthwKzREJYKjAnE4h1YFMRxg5ulynrbDYNRxb8Lo",
        "sheetName": "Articles",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toISOString() }}",
            "Status": "Pending Approval",
            "Research": "={{ $node['Gemini Research'].json.candidates[0].content.parts[0].text }}",
            "Draft": "={{ $json.candidates[0].content.parts[0].text }}"
          }
        }
      },
      "id": "log_article",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "chatId": "5407628621",
        "text": "📰 **Monthly Article Ready for Review!**\n\n{{ $json.candidates[0].content.parts[0].text.substring(0, 500) }}...\n\n**Full article logged to Google Sheets**\n\nReply 'approve' to send newsletter or 'reject' to skip this month.",
        "additionalFields": {}
      },
      "id": "telegram_approval",
      "name": "Request Approval",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1050, 300],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "IgniteSiteBot"
        }
      }
    }
  ],
  "connections": {
    "Monthly Trigger": {
      "main": [[{"node": "Gemini Research", "type": "main", "index": 0}]]
    },
    "Gemini Research": {
      "main": [[{"node": "Generate Article", "type": "main", "index": 0}]]
    },
    "Generate Article": {
      "main": [[{"node": "Log to Sheets", "type": "main", "index": 0}]]
    },
    "Log to Sheets": {
      "main": [[{"node": "Request Approval", "type": "main", "index": 0}]]
    }
  }
}