n8n-workflows/archived/article-workflow-with-docs.json
{
  "name": "Ignite - Monthly Article Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1 * *"
            }
          ]
        }
      },
      "id": "cron_trigger",
      "name": "Monthly Trigger (1st at 9am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "models/gemini-1.5-flash",
        "prompt": "You are an AI healthcare expert writing for Ignite Health Systems. Research and analyze the latest healthcare AI developments from the past 30 days.\n\nFocus on:\n1. Breakthrough AI technologies in healthcare\n2. Clinical AI implementations\n3. FDA approvals and regulatory updates\n4. Major funding rounds and partnerships\n5. Real-world deployments in hospitals\n\nAnalyze through these critical lenses:\n- **Extractive vs Regenerative**: Does it empower physicians or replace them?\n- **Enhancement vs Replacement**: Is it a cognitive extension or automation?\n- **Net-Positive Outcomes**: Does it reduce harm and burnout?\n\nProvide a comprehensive research summary with:\n- Specific examples and case studies\n- Data points and statistics\n- Company names and partnerships\n- Timeline of developments\n- Impact on physician workflow",
        "options": {
          "temperature": 0.3,
          "maxOutputTokens": 2048,
          "topP": 0.9
        }
      },
      "id": "gemini_research",
      "name": "Gemini - Research Phase",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "googlePalmApi": {
          "id": "weWBsxoDFKJMvoMl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "models/gemini-1.5-flash",
        "prompt": "Based on this research:\n\n{{ $json.text }}\n\nWrite a compelling 750-word article for the Ignite Health Systems newsletter.\n\n**Voice**: Dr. Bhaven Murji - authoritative physician-technologist, mission-driven, empathetic\n\n**Key Messages to Include**:\n- We're moving from a document-centric past to an AI-native future\n- The Platform Fragmentation Crisis is killing physician productivity\n- Our unified clinical co-pilot reverses administrative burnout\n- Contrast extractive AI (takes from physicians) vs regenerative AI (empowers physicians)\n- From 'Harm-as-Profit' to 'Net-Positive Outcomes'\n\n**Structure**:\n1. **Hook**: Start with a shocking statistic or recent development from the research\n2. **Problem**: The crisis facing physicians today (burnout, fragmentation)\n3. **Vision**: How regenerative AI changes everything\n4. **Evidence**: Specific examples from the research supporting our approach\n5. **Call to Action**: Join the Innovation Council to shape the future\n\n**Tone**: Professional yet accessible, urgent without fear-mongering, hopeful but realistic\n\n**Must Include**:\n- At least 3 specific examples from the research\n- Data points about physician burnout (2+ hours after-hours documentation)\n- Our philosophy: Enhancement not replacement\n- End with: 'Join us at ignitehealthsystems.com'",
        "options": {
          "temperature": 0.4,
          "maxOutputTokens": 2048,
          "topP": 0.95
        }
      },
      "id": "gemini_article",
      "name": "Gemini - Article Generation",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "googlePalmApi": {
          "id": "weWBsxoDFKJMvoMl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "=Ignite Newsletter - {{ $now.format('MMMM YYYY') }}",
        "documentContent": "={{ $json.text }}",
        "options": {
          "folderIds": {
            "values": []
          }
        }
      },
      "id": "create_google_doc",
      "name": "Create Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_GOOGLE_DOCS_CREDENTIAL_ID",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "list",
          "value": "1kPYgthwKzREJYKjAnE4h1YFMRxg5ulynrbDYNRxb8Lo"
        },
        "sheetName": {
          "mode": "list",
          "value": "Articles"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.toISO() }}",
            "Status": "Pending Approval",
            "Article Title": "=Ignite Newsletter - {{ $now.format('MMMM YYYY') }}",
            "Google Doc URL": "={{ $json.documentUrl }}",
            "Doc ID": "={{ $json.documentId }}",
            "Research Summary": "={{ $node['Gemini - Research Phase'].json.text.substring(0, 500) }}...",
            "Word Count": "={{ $node['Gemini - Article Generation'].json.text.split(' ').length }}",
            "Approved Date": "",
            "Campaign ID": ""
          }
        },
        "options": {}
      },
      "id": "log_to_sheets",
      "name": "Log to Article Tracker",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yFyCTZ00zZlR9X8F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5407628621",
        "text": "=📰 <b>Monthly Newsletter Ready for Review!</b>\n\n<b>Date:</b> {{ $now.format('MMMM DD, YYYY') }}\n<b>Title:</b> Ignite Newsletter - {{ $now.format('MMMM YYYY') }}\n\n<b>📄 Google Doc for Editing:</b>\n{{ $node['Create Google Doc'].json.documentUrl }}\n\n<b>Preview (first 300 chars):</b>\n<i>{{ $node['Gemini - Article Generation'].json.text.substring(0, 300) }}...</i>\n\n<b>Word Count:</b> {{ $node['Gemini - Article Generation'].json.text.split(' ').length }} words\n\n✅ <b>Reply 'approve'</b> to send to newsletter subscribers\n✏️ <b>Click the link above</b> to edit in Google Docs first\n❌ <b>Reply 'reject'</b> to skip this month\n\n<a href=\"{{ $node['Create Google Doc'].json.documentUrl }}\">Edit Article in Google Docs</a>",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": false
        }
      },
      "id": "telegram_notify",
      "name": "Request Approval via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1250, 300],
      "credentials": {
        "telegramApi": {
          "id": "LiDIXl97CJSudS2F",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Monthly Trigger (1st at 9am)": {
      "main": [
        [
          {
            "node": "Gemini - Research Phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Research Phase": {
      "main": [
        [
          {
            "node": "Gemini - Article Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Article Generation": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Log to Article Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Article Tracker": {
      "main": [
        [
          {
            "node": "Request Approval via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}