n8n-workflows/archived/form-handler-fixed.json
{
  "name": "Ignite - Interest Form Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ignite-interest-form",
        "responseMode": "responseNode",
        "options": {
          "cors": {
            "allowedOrigins": "*"
          }
        }
      },
      "id": "webhook_trigger",
      "name": "Webhook - Form Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "ignite-interest-form"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "list",
          "value": "1kPYgthwKzREJYKjAnE4h1YFMRxg5ulynrbDYNRxb8Lo"
        },
        "sheetName": {
          "mode": "list",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "User Type": "={{ $json.userType }}",
            "First Name": "={{ $json.firstName }}",
            "Last Name": "={{ $json.lastName }}",
            "Email": "={{ $json.email }}",
            "Specialty": "={{ $json.specialty || '' }}",
            "Practice Model": "={{ $json.practiceModel || '' }}",
            "EMR System": "={{ $json.emrSystem || '' }}",
            "LinkedIn": "={{ $json.linkedin || '' }}",
            "Involvement": "={{ $json.involvement || '' }}",
            "Challenge": "={{ $json.challenge || '' }}",
            "Co-Founder Interest": "={{ $json.cofounder ? 'Yes' : 'No' }}"
          }
        },
        "options": {}
      },
      "id": "google_sheets",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yFyCTZ00zZlR9X8F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.userType }}",
              "rightValue": "physician",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_physician",
      "name": "If Physician",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 250]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.userType }}",
              "rightValue": "investor",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.userType }}",
              "rightValue": "specialist",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if_investor_specialist",
      "name": "If Investor or Specialist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 450]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "list": "9884a65adf",
        "email": "={{ $json.email }}",
        "mergeFields": {
          "FNAME": "={{ $json.firstName }}",
          "LNAME": "={{ $json.lastName }}"
        },
        "groups": [],
        "options": {
          "emailType": "html",
          "status": "subscribed",
          "skipMergeValidation": true
        }
      },
      "id": "mailchimp_physician",
      "name": "Add Physician to Mailchimp",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [850, 150],
      "credentials": {
        "mailchimpOAuth2Api": {
          "id": "mD3c9ewb75w4RmDw",
          "name": "Mailchimp account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5407628621",
        "text": "=🚨 <b>New {{ $json.userType === 'investor' ? 'Investor' : 'AI/ML Specialist' }} Lead!</b>\n\n<b>Name:</b> {{ $json.firstName }} {{ $json.lastName }}\n<b>Email:</b> {{ $json.email }}\n<b>LinkedIn:</b> {{ $json.linkedin || 'Not provided' }}\n{{ $json.cofounder ? '✅ <b>Interested in co-founder role</b>' : '' }}\n\n<b>Challenge/Interest:</b>\n<i>{{ $json.challenge || 'Not specified' }}</i>\n\n<a href=\"https://docs.google.com/spreadsheets/d/1kPYgthwKzREJYKjAnE4h1YFMRxg5ulynrbDYNRxb8Lo/edit#gid=0\">View in Spreadsheet</a>",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "id": "telegram_notify",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [850, 350],
      "credentials": {
        "telegramApi": {
          "id": "LiDIXl97CJSudS2F",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "merge",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "options": {},
        "responseBody": "{\"success\": true, \"message\": \"Thank you for joining Ignite Health Systems! Check your email for next steps.\"}",
        "responseHeaders": {
          "entries": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Access-Control-Allow-Origin",
              "value": "*"
            }
          ]
        }
      },
      "id": "webhook_response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook - Form Submission": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "If Physician",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Investor or Specialist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Physician": {
      "main": [
        [
          {
            "node": "Add Physician to Mailchimp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Investor or Specialist": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Physician to Mailchimp": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Telegram": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}