n8n-workflows/archived/monthly-content-pipeline-native.json
{
  "name": "Ignite Health Systems - Monthly Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1 * *"
            }
          ]
        }
      },
      "id": "cron_trigger",
      "name": "Monthly Trigger (1st at 9am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "modelId": {
          "mode": "list",
          "value": "gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "You are an AI healthcare expert writing for Ignite Health Systems. Research and analyze the latest healthcare AI developments from the past 30 days.\n\nFocus on:\n1. Breakthrough AI technologies in healthcare\n2. Clinical AI implementations\n3. FDA approvals and regulatory updates\n4. Major funding rounds and partnerships\n\nAnalyze through these lenses:\n- Extractive vs Regenerative (does it empower physicians or replace them?)\n- Enhancement vs Replacement (cognitive extension or automation?)\n- Net-Positive Outcomes (reducing harm and burnout)\n\nProvide a comprehensive research summary with specific examples and data points.",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 2048
        }
      },
      "id": "gemini_research",
      "name": "Gemini - Research Phase",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "modelId": {
          "mode": "list",
          "value": "gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Based on this research:\n\n{{ $json.text }}\n\nWrite a compelling 750-word article for the Ignite Health Systems newsletter.\n\nRequirements:\n- Address the transition from document-centric healthcare to AI-native future\n- Use our key terminology: 'Platform Fragmentation Crisis', 'unified clinical co-pilot'\n- Contrast extractive vs regenerative AI approaches\n- Write in Dr. Murji's voice: authoritative, mission-driven, empathetic\n- Include specific examples from the research\n- End with a call to action for joining the Innovation Council\n\nTone: Professional yet accessible, urgency without fear-mongering, hope grounded in reality.",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.4,
          "maxTokens": 2048
        }
      },
      "id": "gemini_article",
      "name": "Gemini - Article Generation",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "list",
          "value": "1kPYgthwKzREJYKjAnE4h1YFMRxg5ulynrbDYNRxb8Lo"
        },
        "sheetName": {
          "mode": "list",
          "value": "Articles"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.toISO() }}",
            "Status": "Pending Approval",
            "Research": "={{ $node['Gemini - Research Phase'].json.text }}",
            "Draft": "={{ $json.text }}",
            "Approved Date": "",
            "Campaign ID": ""
          }
        },
        "options": {}
      },
      "id": "log_to_sheets",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "chatId": "5407628621",
        "text": "=📰 <b>Monthly Newsletter Ready for Review!</b>\n\n<b>Date:</b> {{ $now.format('MMMM DD, YYYY') }}\n\n<b>Article Preview:</b>\n{{ $json.text.substring(0, 500) }}...\n\n<b>Full article has been logged to Google Sheets</b>\n\n✅ Reply 'approve' to send to newsletter subscribers\n❌ Reply 'reject' to skip this month\n\n<a href=\"https://docs.google.com/spreadsheets/d/1kPYgthwKzREJYKjAnE4h1YFMRxg5ulynrbDYNRxb8Lo/edit#gid=0\">View in Google Sheets</a>",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": false
        }
      },
      "id": "telegram_approval",
      "name": "Request Approval via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Monthly Trigger (1st at 9am)": {
      "main": [
        [
          {
            "node": "Gemini - Research Phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Research Phase": {
      "main": [
        [
          {
            "node": "Gemini - Article Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Article Generation": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Request Approval via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}