n8n-workflows/mailchimp-interest-form-automation.json
{
  "name": "Mailchimp Interest Form Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ignite-interest-form",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {
          "cors": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kPYgthwKzREJYKjAnE4h1YFMRxg5ulynrbDYNRxb8Lo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date().toISOString() }}",
            "User Type": "={{ $json.userType }}",
            "First Name": "={{ $json.firstName }}",
            "Last Name": "={{ $json.lastName }}",
            "Email": "={{ $json.email }}",
            "Specialty": "={{ $json.specialty || '' }}",
            "Practice Model": "={{ $json.practiceModel || '' }}",
            "EMR System": "={{ $json.emrSystem || '' }}",
            "Involvement": "={{ $json.involvement || '' }}",
            "Challenge": "={{ $json.challenge || '' }}",
            "Co-founder Interest": "={{ $json.cofounder ? 'Yes' : 'No' }}",
            "Status": "New",
            "Source": "Website Form"
          }
        }
      },
      "id": "google-sheets-log",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RpwWkALWCcn8Xnvw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Welcome to Ignite Health Systems - {{ $json.userType === 'physician' ? 'Reclaim Your Practice' : $json.userType === 'investor' ? 'Healthcare Investment Opportunity' : 'Join the Healthcare Revolution' }}",
        "messageType": "html",
        "message": "<html>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n\n<h2>Dear {{ $json.firstName }},</h2>\n\n<p>Thank you for your interest in <strong>Ignite Health Systems</strong>. We're thrilled to connect with {{ $json.userType === 'physician' ? 'a fellow physician committed to transforming healthcare' : $json.userType === 'investor' ? 'an investor who sees the potential in physician-led healthcare transformation' : 'a specialist passionate about revolutionizing healthcare technology' }}.</p>\n\n{{ $json.userType === 'physician' ? '<h3>🩺 For Physicians Like You</h3>\\n<p>We understand the daily struggle with ' + ($json.emrSystem || 'corporate EMR systems') + ' and the administrative burden stealing time from patient care. Our physician-led platform:</p>\\n<ul>\\n<li>Eliminates <strong>60% of documentation burden</strong></li>\\n<li>Saves <strong>70% on EMR costs</strong> compared to Epic</li>\\n<li>Returns <strong>2+ hours daily</strong> to patient care</li>\\n<li>Deploys in <strong>one day</strong> vs 18-month Epic implementations</li>\\n</ul>' : '' }}\n\n{{ $json.userType === 'investor' ? '<h3>💰 Investment Opportunity</h3>\\n<p>Ignite represents a generational opportunity to disrupt the <strong>$50+ billion EMR market</strong>. Our advantages:</p>\\n<ul>\\n<li><strong>40% of US physicians</strong> in solo practice are underserved</li>\\n<li><strong>Physician-founded</strong> creates insurmountable competitive moat</li>\\n<li><strong>70% lower costs</strong> than enterprise alternatives</li>\\n<li><strong>AI-native architecture</strong> vs legacy system retrofits</li>\\n</ul>' : '' }}\n\n{{ $json.userType === 'specialist' ? '<h3>🚀 Technology Revolution</h3>\\n<p>Your expertise in healthcare technology aligns with our mission to:</p>\\n<ul>\\n<li>Build <strong>AI that enhances</strong>, not replaces, physician judgment</li>\\n<li>Create <strong>regenerative</strong> vs extractive healthcare systems</li>\\n<li>Develop <strong>physician-led</strong> technology solutions</li>\\n<li>Transform healthcare through <strong>intelligent automation</strong></li>\\n</ul>' : '' }}\n\n<h3>Next Steps</h3>\n<p><a href=\"https://calendly.com/ignite-health\" style=\"background-color: #0066cc; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block; margin-top: 10px;\">Schedule a Conversation</a></p>\n\n<p>In revolutionary spirit,</p>\n<p><strong>Dr. Bhaven Murji</strong><br>\nFounder & CEO, Ignite Health Systems</p>\n\n</body>\n</html>"
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [650, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_OAUTH_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "physician-check",
              "leftValue": "={{ $json.userType }}",
              "rightValue": "physician",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-physician",
      "name": "If Physician",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 250]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "investor-specialist-check",
              "leftValue": "={{ $json.userType }}",
              "rightValue": "physician",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-investor-specialist",
      "name": "If Investor/Specialist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 450]
    },
    {
      "parameters": {
        "chatId": "5407628621",
        "text": "🚨 *New {{ $json.userType === 'investor' ? 'INVESTOR' : 'SPECIALIST' }} Lead*\n\n👤 *Name:* {{ $json.firstName }} {{ $json.lastName }}\n📧 *Email:* {{ $json.email }}\n🏢 *Type:* {{ $json.userType }}\n{{ $json.specialty ? '🔬 *Specialty:* ' + $json.specialty + '\\n' : '' }}{{ $json.challenge ? '💬 *Interest:* ' + $json.challenge + '\\n' : '' }}{{ $json.cofounder ? '⚡ *CO-FOUNDER INTEREST*\\n' : '' }}\n\n_High-value lead logged to Google Sheets_",
        "options": {
          "parseMode": "Markdown"
        }
      },
      "id": "telegram-notify",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1050, 450],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_BOT_ID",
          "name": "IgniteSiteBot"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "If Physician",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Investor/Specialist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Investor/Specialist": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "1",
  "triggerCount": 0,
  "tags": []
}